<footer class="footer">
  <small>
    <%= t("static_pages.home.content_footer_html") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.home.about"), about_path %></li>
      <li><%= link_to t("static_pages.home.home"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t("static_pages.home.news") %></a></li>
    </ul>
  </nav>
</footer>
